body {background-color:white;}
.big{font-size:40px;}

a{
  display: inline-block;
  text-decoration: none;
}

.btn-flat-border-toushu {
  display: inline-block;
  background-color:#ffbfcb;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-toushu:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.btn-flat-border-yashu {
  display: inline-block;
  background-color:#00e97b;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-yashu:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.btn-flat-border-kaisetsu {
  display: inline-block;
  background-color:#ffff9b;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-kaisetsu:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.btn-flat-border-back {
  display: inline-block;
  background-color:#00c2ff;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-back:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.btn-flat-border-home {
  display: inline-block;
  background-color:#f9b185;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-home:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}
