body {background-color:white;
font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.big{font-size:40px;}

a{
  display: inline-block;
  text-decoration: none;
}

.btn-flat-border-toushu {
  display: inline-block;
  background-color:#ffbfcb;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-toushu:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.btn-flat-border-yashu {
  display: inline-block;
  background-color:#00e97b;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-yashu:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.btn-flat-border-kaisetsu {
  display: inline-block;
  background-color:#ffff9b;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-kaisetsu:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.btn-flat-border-back {
  display: inline-block;
  background-color:#00c2ff;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-back:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.btn-flat-border-home {
  display: inline-block;
  background-color:#f9b185;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #000000;				/*文字色*/
  border: solid 2px #000000;	/*枠組み*/
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border-home:hover {
  background: white;			/*マウスをかざしたときの背景色*/
  color: black;					/*その時の文字色*/
}

.tytle-ver {
  position: relative;
  padding-left: 25px;
}

.tytle-ver:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
.tytle-ver:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}

.tytle-ver0 {
  position: relative;
  color: #333;
  text-shadow: 0 0 2px white;
  background: #e0f3ff;
  z-index: -4;
  border-radius: 0 10px 10px;
}

.tytle-ver0:before {
  content: "";
  position: absolute;
  background: #9de5ff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: -15px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: -1;
}
.line-p {
  text-decoration: underline solid red;
}

.line-f {
  text-decoration: underline solid green;
}
